* {
    margin: 0;
    padding: 0;
    
    font-family: 'Spartan', sans-serif;
}


body {
    background: url(/assets/bg-pattern-bottom-desktop.svg);
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    
}

ul {
	list-style: none;
}