* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
}

ul {
  list-style: none;
}

body {
  background-image: url(/assets/bg-pattern-top-desktop.svg), url(/assets/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -855px 0px, -263px 148px;
}

.geral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 100px;
}

.intro-geral {
  width: 30vw;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 110px;
}

.intro-geral h1 {
  color: #502050;
  font-size: 3rem;
}

.intro-geral p {
  color: #937b92;
  font-size: .9rem;
  line-height: 1.5rem;
  margin-top: 10px;
}

.avaliacao-geral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 40px;
  color: #502050;
  font-size: .7rem;
  font-weight: bold;
  border-radius: .3rem;
}

.av {
  border-radius: .3rem;
  background-color: #f7f2f7;
  padding: 10px 50px;
}

.av:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  line-height: 1rem;
}

.avaliacao-1 {
  margin: 30px 160px;
  margin-left: 30px;
}

.avaliacao-2 {
  margin: 30px 100px;
  margin-left: 80px;
}

.avaliacao-3 {
  margin: 30px 50px;
  margin-left: 150px;
}

.estrela {
  padding-right: .50rem;
}

.avaliacao-individual-geral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px 100px;
  padding: 0px 70px;
}

.avaliacao-individual {
  font-size: 10px;
  background: #502050;
  line-height: 1rem;
  border-radius: 0.6rem;
  -webkit-box-shadow: 5px 5px 0 1px #937b92;
          box-shadow: 5px 5px 0 1px #937b92;
  -webkit-transition: .2s;
  transition: .2s;
  padding: .5rem;
}

.avaliacao-individual:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  line-height: 1rem;
}

.avaliacao-colton {
  margin: 0px 30px;
}

.avaliacao-irene {
  margin: 20px 30px;
}

.avaliacao-anne {
  margin: 50px 30px;
}

.nome-pessoa {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 80px;
  margin-top: 5px;
  padding-top: 1rem;
}

.comprador-verificado {
  color: #ee68a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 7rem;
  margin-left: 80px;
}

.texto-avaliacao {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 20px;
}

.imagem-pessoa {
  max-width: 2rem;
  border-radius: 50%;
  position: absolute;
  margin-top: 0.8rem;
  margin-left: 30px;
  margin-top: 20px;
}

@media (max-width: 992px) and (min-width: 300px) {
  body {
    background-image: url(/assets/bg-pattern-top-mobile.svg), url(/assets/bg-pattern-bottom-mobile.svg);
    background-size: contain;
    background-position: 29px -29px,  0px 851px;
  }
  .geral {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    margin: 0px;
  }
  .intro-geral {
    width: 100vw;
    margin: 10px 0px;
    padding: 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .intro-geral h1 {
    margin: 10px 50px;
    font-size: 2rem;
  }
  .intro-geral p {
    width: 80vw;
    margin: 10px 50px;
  }
  .avaliacao-geral {
    margin: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .av {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 80px;
    margin: 10px 10px;
  }
  .avaliacao-1,
  .avaliacao-2,
  .avaliacao-3 {
    margin: 10px;
  }
  .estrela {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 5px;
    margin-bottom: 10px;
  }
  .avaliacao-individual-geral {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0;
    padding: 0;
  }
  .avaliacao-individual {
    padding: 20px 0;
    margin: 0px 10px;
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
  }
  .avaliacao-colton,
  .avaliacao-irene,
  .avaliacao-anne {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 10px;
  }
}
/*# sourceMappingURL=style.css.map */